<!DOCTYPE html>
<html>

<head>
	<% include partials/head %>
	<title>My NU Home - Error <%= status %></title>
</head>

<body class="container">
	<h1>😬</h1>
	<p class="lead"><%- message %></p>
</body>
</html>