<!DOCTYPE html>
<html>

<head>
	<% include partials/head %>
	<title>My NU Home</title>
	<link rel="stylesheet" href="css/index.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body>
	<% if (errors.length > 0) { %>
		<% for (let i = 0; i < errors.length; i++) { %>
			<div class="alert alert-danger" role="alert">
				<%= errors[i] %>
			</div>
		<% } %>
	<% } %>

	<div class="bg container-fluid">
		<div class="row">
			<div class="col-md-6 offset-md-6 text-center">
				<h1 id="My-Nu-Home"> My NU Home</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 offset-md-6 text-center mb-3">
				<a class="btn btn-primary btn-lg landing-button" href="/list" role="button">Buyers</a>
			</div>
			<div class="col-md-3 text-center">
				<a class="btn btn-primary btn-lg landing-button" href="/sell" role="button">Sellers</a>
			</div>
		</div>
	</div>

	<div class="container" id="bottom-page">
		<div id="faq">
			<h1 style= "font-size: 48px">About My NU Home </h1>
			<h3>What is My NU Home?</h3>
			<p>My NU Home is a website to make leasing and subletting easier for Northwestern students. Post and browse listings in an organized, clean interface.<p>
			<h3>Who can use My NU Home?</h3>
			<p>Only Northwestern students have access. You must have an @u.northwestern.edu email to create a listing on the site.</p>
			<h3>Does using My NU Home cost money?</h3>
			<p>No. My NU Home is free.</p>
		</div>
		<h5 style="font-size: 14px"class = "text-center">Made with <span id="heart"><i class="fa fa-heart" aria-hidden="true"></i></span> in Evanston, IL by Northwestern students, for Northwestern students</h5>
	</div>
</body>
</html>
