<!DOCTYPE html>
<html>

<head>
		<% include partials/head %>
		<title>My NU Home</title>
		<link rel="stylesheet" href="css/index.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		

</head>

<body>
	<% if (errors.length > 0) { %>
		<% for (let i = 0; i < errors.length; i++) { %>
			<div class="alert alert-danger" role="alert">
				<%= errors[i] %>
			</div>
			<% } %>
				<% } %>
					<div class="bg">
						
					</div>

					
					<div class="container-fluid">
							<div class="front-page-text">
								<div class="row">
									<div class="col-6"></div>
									<div class="col-6">
										<h1> My NU Home</h1>
									</div>
								</div>
								<div class="row" id="buttons">
									<div class="col-6"></div>
									<div class="col-3">
										<a id="left-button" class="btn btn-primary btn-lg" href="/list" role="button">Buyers</a>
									</div>
									<div class="col-3">
										<a id="right-button" class="btn btn-primary btn-lg" href="/sell" role="button">Sellers</a>
									</div>
								</div>
							</div>

							<h1> About My NU Home </h1>
							<p> blah </p>
						</div>
</body>

</html>
