<!DOCTYPE html>
<html>

<head>
	<% include partials/head %>
		<title>My NU Home</title>
		<link rel="stylesheet" href="css/index.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


</head>

<body>
	<% if (errors.length > 0) { %>
		<% for (let i = 0; i < errors.length; i++) { %>
			<div class="alert alert-danger" role="alert">
				<%= errors[i] %>
			</div>
			<% } %>
				<% } %>
					<div class="container-fluid">
						<div class="front-page-text">
							<div class="bg"></div>
							<div id="text_buttons">
								<div class="row">
									<div class="col-md-6 offset-md-6">
										<h1 id="My-Nu-Home"> My NU Home</h1>
									</div>
								</div>
								<div class="row">
									<div class="col-md-2 offset-md-7 col-xs-2 offset-xs-7">
										<a id="left-button" class="btn btn-primary btn-lg" href="/list" role="button">Buyers</a>
									</div>
									<div class="col-2">
										<a id="right-button" class="btn btn-primary btn-lg" href="/sell" role="button">Sellers</a>
									</div>
								</div>
							</div>
						</div>
						<h1> About My NU Home </h1>
						<p> blah </p>
					</div>
</body>

</html>
