<!DOCTYPE html>
<html>

<head>
	<% include partials/head %>
	<title>My NU Home</title>
</head>

<body>
	<% if (errors.length > 0) { %>
		<% for (let i = 0; i < errors.length; i++) { %>
			<div class="alert alert-danger" role="alert">
				<%= errors[i] %>
			</div>
		<% } %>
	<% } %>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-3">My NU Home</h1>
	    <p class="lead">Where something something slogan.</p>
	    <div class="row">
	    	<div class="col-md-2">
    			<a class="btn btn-primary btn-lg" href="/list" role="button">Buyers</a>
    		</div>
    		<div class="col-md-2">
    			<a class="btn btn-primary btn-lg" href="/sell" role="button">Sellers</a>
    		</div>
    	</div>
	  </div>
	</div>
</body>
</html>