<!DOCTYPE html>
<html>
<head>
	<title>IEEE Judges</title>
</head>
<body>
	<h1>Welcome judges!</h1>
	<h2>Please click on your name to access your unique judging link:</h2>
	<ul>
		<li><a href="http://www.yellkey.com/weapon"></a></li>
		<li><a href="http://www.yellkey.com/his"></a></li>
		<li><a href="http://www.yellkey.com/stage"></a></li>
		<li><a href="http://www.yellkey.com/decision"></a></li>
		<li><a href="http://www.yellkey.com/green"></a></li>
		<li><a href="http://www.yellkey.com/never"></a></li>
		<li><a href="http://www.yellkey.com/money"></a></li>
		<li><a href="http://www.yellkey.com/compare"></a></li>
		<li><a href="http://www.yellkey.com/record"></a></li>
		<li><a href="http://www.yellkey.com/laugh"></a></li>
		<li><a href="http://www.yellkey.com/market"></a></li>
		<li><a href="http://www.yellkey.com/nation"></a></li>
	</ul>
</body>
</html>