<!DOCTYPE html>
<html>

<head>
	<% include partials/head %>
	<title>My NU Home</title>
</head>

<body>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-3">My NU Home</h1>
	    <p class="lead">Housing made simple.</p>
	    <div class="row">
	    	<div class="col-md-2">
    			<a class="btn btn-primary btn-lg" href="/list" role="button">Buyers</a>
    		</div>
    		<div class="col-md-2">
    			<a class="btn btn-primary btn-lg" href="/sell" role="button">Sellers</a>
    		</div>
    	</div>
	  </div>
	</div>
</body>
</html>
