<!DOCTYPE html>
<html>
<header>
   <title> site for apartment listing  </title>
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>
<body>
<div class = "container">
  <h1>Apartment Title</h1>
  <h2> Pictures of the Apartment </h2>
      <div class = "row">
        <div class = "col-md-6">
          <div class="row">
            <div class = "col-md-12">
              <img class="img-fluid" src="http://auto-auctions.info/wp-content/uploads/2015/11/apartment-inside-and-inside-the-apartment-of-schapelle-corbys-boyfriend-ben-panangian-3.jpg" alt="pic 1 of apartment">
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-3">
              <img class="img-fluid" src="https://cdn.decoist.com/wp-content/uploads/2016/06/Smart-and-modern-kitchen-inside-the-small-Vancouver-apartment.jpg" alt="pic 2 of apartment">
            </div>
            <div class = "col-md-3">
              <img class="img-fluid" src="https://www.minorhotels.com/~/media/minor/oaks/images/australia/south-australia/adelaide/embassy/600x400/3-bedroom-executive-apartment/oaks-embassy-3-bedroom-executive-apartment-bed-3.jpg" alt="pic 3 of apartment">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item">Price: $-$$</li>
            <li class="list-group-item">Address: </li>
            <li class="list-group-item">Rental Period: Winter Quarter</li>
            <li class="list-group-item">Preferred roommate: <b>Female</b></li>
            <li class="list-group-item">Occupants: # people</li>
            <li class="list-group-item">Vacancies: # </li>
            <li class="list-group-item"><a href="mailto:seller@example.com" target="_top"><i class="fa fa-envelope"></i> Contact Seller</a></li>
          </ul>
        </div>
    </div>



  <div>
    <h2> Apartment Information: </h2>
      <ul>
        <li> $ per month</li>
          <li> Date Available: #/#/# to #/#/# </li>
          <li> Location: North/South </li>
          <li># Square Feet</li>
          <li> # Bed/#Bath </li>
          <li> Utilities: </li>
          <li> Parking Garage: y/n </li>
          <li> Smoking: y/n</li>
          <li> Pets: y/n</li>
      </ul>
   </div>
 </div>

<footer>Contact Information: email___________ tel. # ___________ </footer>

</body>
</html>
