<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
  <link rel="stylesheet" href="css/sell.css">
  <title>List Your Apartment</title>
</head>

<body>
  <% include partials/nav %>
  <h1>Listing your place has never been easier.</h1>
  <div class="container mt-2">
    <form id="sell-form" action="/listing" method="post">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="saleType" class="col-form-label">Lease or Sublet?</label>
          <select class="form-control" id="saleType" name="saleType">
            <option value="lease">Lease</option>
            <option value="sublet">Sublet</option>
          </select>
        </div>

        <div class="form-group col-md-3">
          <label for="startPeriod" class="col-form-label">From (required):</label>
          <input class="form-control" name="startPeriod" type="date" value="" id="startPeriod" required>
        </div>
        <div class="form-group col-md-3">
          <label for="example-date-input" class="col-form-label">Until (optional):</label>
          <input class="form-control" name="endPeriod" type="date" value="" id="endPeriod">
        </div>
      </div>

      <div class="form-group">
        <label for="address">Address (Please select from the auto-complete as you type.)</label>
        <input class="form-control" id="address" name="address" placeholder="1999 Campus Dr." required>
      </div>

      <input id="latitude" name="latitude" type="hidden">
      <input id="longitude" name="longitude" type="hidden">

      <div class="form-row">
        <div id="occupants-field" class="form-group col-md-3">
          <label for="occupants">Total # of Occupants</label>
          <input id="occupants" class="form-control" name="occupants" type="number" min="1" step="1">
        </div>
        <div id="vacancies-field" class="form-group col-md-3">
          <label for="vacancies"># of Subletters Desired</label>
          <input id="vacancies" class="form-control" name="vacancies" type="number" min="1" step"1">
        </div>
        <div class="form-group col-md-3">
          <label for="genderPreferred">Gender Preferred</label>
          <select class="form-control" id="genderPreferred" name="genderPreferred">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other (Please add remarks in description below.)</option>
            <option selected value="none">None</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="beds">Bedrooms</label>
          <select class="form-control" id="beds" name="beds" required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8+</option>
          </select>
        </div>

        <div class="form-group col-md-3">
          <label for="baths">Baths</label>
          <select class="form-control" id="baths" name="baths" required>
            <option>1</option>
            <option>1.5</option>
            <option>2</option>
            <option>2.5</option>
            <option>3+</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="parking">Parking Available</label>
          <select class="form-control" id="parking" name="parking">
            <option value="no">None</option>
            <option value="garage">Garage</option>
            <option value="outdoors">Outdoors</option>
          </select>
        </div>

        <div id="parkingCost-field" class="form-group col-md-3">
          <label for="parkingCost">Parking Cost (optional)</label>
          <input class="form-control" id="parkingCost" name="parkingCost" placeholder="$/month">
        </div>        
      </div>

      <div id="checkboxes">
        <div class="form-check">
          <div>
            <input class="form-check-input" type="checkbox" name="kitchen" id="kitchen">
            <label for="kitchen">Kitchen</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" name="smoking" id="smoking">
            <label for="smoking">Smoking Allowed</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" name="pets" id="pets">
            <label for="pets">Pets Allowed</label>
          </div>
          <div class="form-control">
            <label for="petsCost">Pet Cost (Optional) $<label>
            <input id="petsCost" type="number">
          </div>
          <div>
            <input class="form-check-input" type="checkbox" name="Handicap" value="True" id="Handicap">
            <label for="Handicap">Handicap Accessible</label>
          </div>
        </div>
      </div>

      <div id="utilties">
        <div class="form-check">
          <div>
            <input class="form-check-input" type="checkbox" name="water" id="water">
            <label for="water">Water</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" name="electricity" id="electricity">
            <label for="electricity">Electricity</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" name="gas" id="gas">
            <label for="gas">Gas</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" name="heat" id="heat">
            <label for="heat">Heat</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" name="wifi" id="wifi">
            <label for="wifi">Wifi</label>
          </div>
        </div>
      </div>

      <label class="col-form-label" for="price">Rent Price</label>
      <div class="form-row">
        <div class="form-group col-md-4">
          <input class="form-control" id="price" name="price" placeholder="$/Month" required>
        </div>
        <div class="col-md-8">
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="negotiable" id="negotiable" value="yes" checked>
            <label class="form-check-label" for="negotiable">Negotiable</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="negotiable" id="non-negotiable" value="no">
            <label class="form-check-label" for="non-negotiable">Non-negotiable</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="homePictures">Add photos</label>
        <input type="file" class="form-control-file" id="homePictures" multiple>
      </div>
      <div class="form-group form-row">
        <label for="telephone" class="col-md-4 col-form-label">Telephone Number</label>
        <div class="col-md-4">
          <input class="form-control" type="tel" value="" id="telephone" placeholder="1-(555)-555-5555">
        </div>
      </div>
      <div class="form-group">
        <label for="description">Describe your place... (optional)</label>
        <textarea class="form-control" id="description" name="blurb" rows="3" placeholder="300 character maximum"></textarea>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2">
          <label class="form-check-label" for="invalidCheck2">I Agree to the terms and conditions</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <% include partials/scripts %>
  <script type="text/javascript" src="scripts/sell.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-kBHXUoCNljHmmK6vjWEXv09zn1d_TKI&libraries=places"></script>
  <script>
    var defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(41.493268, -88.273689),
      new google.maps.LatLng(42.595220, -87.299839),
    );

    var input = document.getElementById('address');
    var options = {
      bounds: defaultBounds,
      types: ['address']
    };

    autocomplete = new google.maps.places.Autocomplete(input, options);
  </script>
  <script>
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = [autocomplete.getPlace().geometry.location.lat(), autocomplete.getPlace().geometry.location.lng()];
      $('#latitude').val(autocomplete.getPlace().geometry.location.lat());
      $('#longitude').val(autocomplete.getPlace().geometry.location.lng());
    });
  </script>
</body>
</html>
