<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
  <link rel="stylesheet" href="css/sell.css">
  <title>List Your Apartment</title>
</head>

<body>
  <% include partials/nav %>
  <div class="container mt-2">
    <h1 style="font-size: 48px;">Let's Get Started.</h1>
    <form id="sell-form" action="/listing" method="post">
      <div class="form-section">
        <h2>1. The Basics</h2>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="saleType" class="col-form-label">Lease or Sublet?</label>
            <select class="form-control" id="saleType" name="saleType">
              <option value="lease">Lease</option>
              <option value="sublet">Sublet</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="startPeriod" class="col-form-label">From (required):</label>
            <input class="form-control" name="startPeriod" type="date" value="" id="startPeriod" required>
          </div>
          <div class="form-group col-md-3">
            <label for="example-date-input" class="col-form-label">Until (optional):</label>
            <input class="form-control" name="endPeriod" type="date" value="" id="endPeriod">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6">
            <label for="address">Address</label>
            <input class="form-control" id="address" name="address" placeholder="1999 Campus Dr." required aria-describedby="addressHelp">
            <small id="addressHelp" class="form-text text-muted">
              Please select from the auto-complete as you type.
            </small>
          </div>
        </div>
        <input id="latitude" name="latitude" type="hidden">
        <input id="longitude" name="longitude" type="hidden">

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="beds">Bedrooms</label>
            <select class="form-control" id="beds" name="beds" required>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
            </select>
          </div>

          <div class="form-group col-md-3">
            <label for="baths">Baths</label>
            <select class="form-control" id="baths" name="baths" required>
              <option>1</option>
              <option>1.5</option>
              <option>2</option>
              <option>2.5</option>
              <option>3</option>
            </select>
          </div>
        </div>
      </div>

      <div id="sublet-details" class="form-section">
        <h3>Sublet Details</h3>
        <div class="form-row">
          <div id="occupants-field" class="form-group col-md-3">
            <label for="occupants">Total # of occupants</label>
            <input id="occupants" class="form-control" name="occupants" type="number" min="1" step="1">
          </div>
          <div id="vacancies-field" class="form-group col-md-3">
            <label for="vacancies"># of subletters desired</label>
            <input id="vacancies" class="form-control" name="vacancies" type="number" min="1" step"1">
          </div>
          <div class="form-group col-md-3">
            <label for="genderPreferred">Gender preferred</label>
            <select class="form-control" id="genderPreferred" name="genderPreferred" aria-describedby="genderPreferredHelp">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
              <option selected value="none">None</option>
            </select>
            <small id="genderPreferredHelp" class="form-text text-muted">
              If "Other," please add remarks in the description at the bottom of the page.
            </small>
          </div>
        </div>
      </div>

      <div class="form-section">
        <h2>2. Cost</h2>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label class="col-form-label" for="price">Rent Price</label>
            <input class="form-control" id="price" name="price" placeholder="$/Month" required>
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="negotiable" id="negotiable">
          <label for="negotiable">Price negotiable</label>
        </div>
      </div>

      <div class="form-section">
        <h2>3. Utilities</h2>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="water" id="water">
          <label for="water">Water included</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="electricity" id="electricity">
          <label for="electricity">Electricity included</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="gas" id="gas">
          <label for="gas">Gas included</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="heat" id="heat">
          <label for="heat">Heat included</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="wifi" id="wifi">
          <label for="wifi">Wi-Fi included</label>
        </div>
      </div>

      <div id="checkboxes" class="form-section">
        <h2>4. Miscellaneous</h2>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="parking">Parking available</label>
            <select class="form-control" id="parking" name="parking">
              <option value="no">None</option>
              <option value="garage">Garage</option>
              <option value="outdoors">Outdoors</option>
            </select>
          </div>
          <div id="parkingCost-field" class="form-group col-md-3">
            <label for="parkingCost">Parking cost (optional)</label>
            <input class="form-control" id="parkingCost" name="parkingCost" type="number" placeholder="$/month" min="0">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="pets">Pets allowed</label>
            <select class="form-control" id="pets" name="pets">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>
          </div>
          <div id="petsCost-field" class="form-group col-md-3">
            <label for="petsCost">Pets cost (optional)</label>
            <input class="form-control" id="petsCost" name="petsCost" type="number" placeholder="$/pet" min="0">
          </div>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="smoking" id="smoking">
          <label for="smoking">Smoking allowed</label>
        </div>
      </div>

      <div class="form-section">
        <h2>5. Description</h2>
        <div class="form-group">
          <label for="images">Add photos (up to 5, no larger than 25MB each, optional)</label>
          <input type="file" class="form-control-file" name="images" id="images" multiple>
        </div>
        <div class="form-group">
          <label for="blurb">Describe your place... (optional)</label>
          <textarea class="form-control" id="blurb" name="blurb" rows="3" placeholder="Amenities, special circumstances, square footage, places nearby..." aria-describedby="blurbHelp"></textarea>
          <small id="blurbHelp" class="form-text text-muted">
            300 characters maximum
          </small>
        </div>
      </div>
      <button id="submit-button" type="submit" class="btn btn-primary">Post Listing</button>
    </form>
  </div>

  <% include partials/scripts %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
  <script type="text/javascript" src="scripts/sell.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-kBHXUoCNljHmmK6vjWEXv09zn1d_TKI&libraries=places"></script>
  <script>
    var defaultBounds = new google.maps.LatLngBounds(
      new google.maps.LatLng(41.493268, -88.273689),
      new google.maps.LatLng(42.595220, -87.299839),
    );

    var input = document.getElementById('address');
    var options = {
      bounds: defaultBounds,
      types: ['address']
    };

  autocomplete = new google.maps.places.Autocomplete(input, options);
  </script>
  <script>
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = [autocomplete.getPlace().geometry.location.lat(), autocomplete.getPlace().geometry.location.lng()];
      console.log(place);
      $('#latitude').val(autocomplete.getPlace().geometry.location.lat());
      $('#longitude').val(autocomplete.getPlace().geometry.location.lng());
    });
  </script>
</body>
</html>
