.bg {
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
    background: url('/images/BackgroundImage.jpg') no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.front-page-text {
	top: 25%;
	font-family: 'Montserrat';
}

#left-button {
}

#right-button {
}

h1 {
}

.btn {
	background-color: #214d7d;
	border-color: #214d7d;
}

.btn:hover {
	background-color: white;
	border-color: white;
	color: #214d7d;
}
