font-family: 'Montserrat', sans-serif;
.background {
	position: relative;
	width: 100%;
}

.front-page-text {
	position: absolute;
	top: 25%;
	right: 3%;
	font-family: 'Montserrat';
}

#left-button {
	position: absolute;
	padding: 20px 60px;
	right: 55%
}

#right-button {
	position: absolute;
	padding: 20px 60px;
	right: 25%
}

h1 {
	font-size: 112px;
}

.btn {
	background-color: #214d7d;
	border-color: #214d7d;
}

.btn:hover {
	background-color: white;
	border-color: white;
	color: #214d7d;
}
