body {
  font-family: 'Montserrat';
	color: #214d7d;
}

.whole-viewport {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#two-pane {
	/* The navbar is 56px tall. */
	height: calc(100% - 56px);
}

#map {
	height: 100%;
}

#listings {
	max-height: 100%;
	overflow: scroll;
}
