

body {
  color: #214d7d;
  font-family: 'Montserrat';
}

#sell-form {
	margin-bottom: 1em;
}

.form-section {
	margin-bottom: 2em;
}

#submit-button {
	background-color: #214d7d;
	border-color: #214d7d;
}

#submit-button:hover {
	background-color: white;
	border-color: #214d7d;
	color: #214d7d;
}
